{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Welcome" %} - Plant Supply Unit{% endblock title %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>{% trans "Welcome to Team Plant Supply Unit" %}</h2>
    <p>{% trans "We are happy that you are now part of our project. However, due to the fact that this is only a fun little project your account has to be activated by an admin." %}</p>
{% endblock body %}