{% extends 'base.html' %}


{% block body %}
<!--
<br>
<div class = "row">
    <div class = "col-md">
      <div class = "card card-body">
        <h5>PSU Unit 1</h5>
      </div>
      <div class = "card card-body">
        <table class = "table">
          <tr>
            <th>Timestamp</th>
            <th>Temperature</th>
            <th>Air Humidity</th>
            <th>Ground Humidity</th>
            <th>Brightness</th>
            <th>Fill Level</th>
          </tr>

        </table>
      </div>
    </div>

</div>
-->
  <div class = "card card-body">
    <h5>my psu unit</h5>
  </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Plant Supply Unit</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Temperature</th>
          <th scope="col">Air Humidity</th>
          <th scope="col">Ground Humidity</th>
          <th scope="col">Brightness</th>
          <th scope="col">Fill Level</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in list %}
          <tr>
              <td>{{ i.psu }}</td>
              <td>{{ i.timestamp }}</td>
              <td>{{ i.temperature }}</td>
              <td>{{ i.air_humidity }}</td>
              <td>{{ i.ground_humidity }}</td>
              <td>{{ i.brightness }}</td>
              <td>{{ i.fill_level }}</td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>


 
{% endblock body %}