{% extends 'base.html' %}


{% block body %}
<!--
<br>
<div class = "row">
    <div class = "col-md">
      <div class = "card card-body">
        <h5>PSU Unit 1</h5>
      </div>
      <div class = "card card-body">
        <table class = "table">
          <tr>
            <th>Timestamp</th>
            <th>Temperature</th>
            <th>Air Humidity</th>
            <th>Ground Humidity</th>
            <th>Brightness</th>
            <th>Fill Level</th>
          </tr>

        </table>
      </div>
    </div>

</div>
-->


    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Plant Supply Unit</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Temperature</th>
          <th scope="col">Air Humidity</th>
          <th scope="col">Ground Humidity</th>
          <th scope="col">Brightness</th>
          <th scope="col">Fill Level</th>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </tr>

      </thead>
      <tbody>

      <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My PSU Unit
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        {% for i in list %}
        <li><a href="#">{{ i.psu }}</a></li>
        {% endfor %}
      </ul>
      </div>

      <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
        
        {% for i in list %}
          <tr>
              <td>{{ i.psu }}</td>
              <td>{{ i.timestamp }}</td>
              <td>{{ i.temperature }}</td>
              <td>{{ i.air_humidity }}</td>
              <td>{{ i.ground_humidity }}</td>
              <td>{{ i.brightness }}</td>
              <td>{{ i.fill_level }}</td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>



 
{% endblock %}