{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Plant Supply Unit{% endblock title %}

{% block body %}
    <h2>Das adveisor Programm</h2>
    <p>
        Das <a href="https://www.ei.tum.de/adveisor/">adveisor</a> Programm der Fakult&auml;t f&uuml;r Elektro- und Informationstechnik der
        Technischen Universit&auml;t München ist ein Wahlmodul des Bachelorstudiengangs der Fakult&auml;t und teilt sich in einen Workshop- und einen Projektteil auf.
        Der erste Teil wurde von uns im vergangenen Wintersemester mit Workshops zu Themen wie Kommunikation, Arbeiten im Team
        und Projektorganisation erfolgreich abgeschlossen. Das nun kommenden Sommersemester werden wir vollst&auml;ndig unserem Projekt widmen.
    </p>
    <h2>Das Projekt</h2>
    <p>
        Hierbei handelt es sich dieses Jahr um eine intelligente – und an das Internet of Things angebundene – Pflanzenpflegestation. Das Projekt ist ausf&uuml;hrlich in einer
        vorgegebenen Projektdefinition definiert und wird von allen acht Gruppen des adveisor Projektes in einer Art Wettbewerb umgesetzt. Jede Gruppe muss dabei mindestens f&uuml;nf
        vollfunktionsf&auml;hige Pflegestationen bauen, die alle gemessenen Daten an einen Server &uuml;bermitteln. Dieser k&uuml;mmert sich um die Verarbeitung und
        Aufbereitung der Daten und trifft darauf basiert die Entscheidungen über die Pflanzenpflege. Die Pflanzenpflegestationen werden zum Schluss vor allen anderen Teams sowie
        einer Jury aus Professoren und wissenschaftlichen Mitarbeitern pr&auml;sentiert. Au&szlig;erdem werden die Stationen einer technischen Abnahme unterzogen, in der vor allen Dingen
        die Sicherheitsaspekte der Stationen betrachtet werden.<br>
        Unserer L&ouml;sungsansatz sieht dabei diese Website als zentrale Steuerungseinheit für die Pflegestationen vor. Zudem haben wir uns das Ziel gesetzt, dass unsere Pflanzenpflegestationen dem
        'Plug 'n' Play' Konzept folgt und somit keinerlei - für solche Projekte &uuml;bliche - spezielle Konfiguration ben&ouml;tigt. Der Nutzer einer Station kann so durch einfaches Einstecken und
        einen kurzen Registrierungsprozess auf dieser Website die Pflanzenpflegestation in Betrieb nehmen.
        &Uuml;ber diese Website kann der Nutzer zudem alle Einstellungen bequem vornehmen. Damit ist eine einfache Bedienung sichergestellt.
        Die einzelnen Pflegestationen verf&uuml;gen über diverse Sensoren, wie beispielsweise über einen Bodenfeuchte- und Temperatursensor, um die entsprechende(n) Pflanze(n) optimal zu versorgen. 
    </p>
    <h2>Der Weg zum Ziel</h2>
    <p>
        Zur Umsetzung dieses Projektes haben wir uns drei entscheidende Meilensteine gesetzt: Ende M&auml;rz soll die theoretische Planung an den
        Stationen abgeschlossen werden, sodass bereits Ende April die erste Pflegestation einsatzbereit ist. Ab Mitte Mai sollen alle
        fünf Stationen vollfunktionsf&auml;hig sein und sich bereits um verschiedene Pflanzen k&uuml;mmern. Dabei sammeln wir alle zur Evaluation des Projekterfolges nötigen Daten
        – die abschließende Evaluation und Präsentation wird Ende Juni 2021 stattfinden.
    </p>
    <h2>Unsere Gruppe</h2>
    <p>
        Wir, 13 hochmotivierte Bachelorstudenten in Elektro- und Informationstechnik, bilden das Team Plant Supply Unit, kurz PSU. Das Projekt ist für uns vor allen Dingen spannend, da wir hier in der Lage sind,
        uns in der Elektrotechnik auszutoben und unser frisch hinzugewonnenes Wissen direkt an einem konkreten Projekt anzuwenden. Au&szlig;erdem treibt uns selbstverst&auml;ndlich der Wettbewerb um die beste
        Pflanzenpflegel&ouml;sung des Projektes an.
    </p>
    <img src="{% static 'serveronly/images/team.png' %}" style="width: 80%; display: block; margin: 0 auto;"/>

{% endblock body %}