{% extends 'base.html' %}
{% load i18n %}


{% block title %}{% trans "Change User Permissions" %} - Plant Supply Unit{% endblock title %}

{% block body %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h2>{% trans "Change User Permissions" %}</h2>
        <!-- psu selection links -->
        <div class="psuselection">
            <h4>{% trans "Select a Plant Supply Unit" %}</h4>
            <div>
              {% for p in psus %}
                  <a class="btn btn-inline-block btn-secondary {% if p.id == sel_psu.id %}selected{% endif %}" href="{% url 'psufrontend:change_user_permissions' psu=p.id %}">{{ p.pretty_name }}</a>
              {% endfor %}
            </div>
        </div>
        <div class="active_users">
            <h7>{% trans "Active users:" %}</h7>
            <div>
              {% for u in users %}
                  <li>{{u|safe}}</li>
              {% endfor %}
            </div>
            </br>
        </div>
        {{ form|cut:'<br>' }}
        <input type="submit" name="" value="{% trans "Save" %}"  class="btn btn-primary">
    </form>
{% endblock body %}