{% extends 'base.html' %}
{% load i18n %}
{% load extra_utils %}

{% block title %}{% trans "Chart" %} - Plant Supply Unit{% endblock title %}

{% block head %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock head %}

{% block body %}
    
    <h1>Charts</h1>
    <div>
        <div id="line">
            <canvas id="myChart"></canvas>
        </div>
        <script>
            

            let myChart1 = document.getElementById("myChart").getContext('2d');
            
            
            let time = [];
            let data_h = [];
            let brightness = [];
            let air = [];
            let temp = [];
            let filllevel = [];

            {% for m in week_measurements  %}
                time.push("{{m.timestamp}}");
                data_h.push({{m.ground_humidity| round:1 }});
                brightness.push({{ m.brightness | round:0 }});
                air.push({{ m.air_humidity | round:1 }});
                temp.push({{ m.temperature | round:1 }});
                filllevel.push({{ m.fill_level | round:0 }});
            {% endfor %}
            
            let color_h = ['#49A9EA'];
            let color_b = ['#333'];
            let color_a = ['#00e266'];
            let color_t =['#c00'];
            let color_f = ['#0400d7'];
            
            
            
            let chart1 = new Chart(myChart1, {
                type: 'line',
                data: {
                    labels: time,
                    datasets: [ {
                        label: 'Humidity',
                        data: data_h,
                        borderColor: color_h,
                        backgroundColor: color_h,
                    },
                    {
                        label: 'Brightness',
                        data: brightness,
                        borderColor: color_b,
                        backgroundColor: color_b,

                    },
                     {
                        label: 'Air Humidity',
                        data: air,
                        borderColor: color_a,
                        backgroundColor: color_a,

                    },
                     {
                        label: 'Temperatur in °C',
                        data: temp,
                        borderColor: color_t,
                        backgroundColor: color_t,

                    },
                     {
                        label: 'Fill level',
                        data: filllevel,
                        borderColor: color_f,
                        backgroundColor: color_f,

                    }

                    ]
                },
                options: {
                    title: {
                        text: "Chart",
                        display: true,
                    },
                    scales: {
                        x: {
                        reverse: true,
                        }
                    }
                }
            
            } )

            
            
 
            
            </script>
    </div>
    <div>
        <div id = "filllevel">
        <canvas id="myChart2"></canvas>
        </div>
        <script>
                let myChart2 = document.getElementById("myChart2").getContext('2d');

            
            
            let full_l = [{{lastmeasurement.fill_level | round:0 }}, 100-{{lastmeasurement.fill_level | round:0 }}];
            
            let label2 = ['water', ''];
            let color2 = ['#0400d7', '#ffffff']
            
           
           

                let chart2 = new Chart(myChart2, {
                type: 'doughnut',
                data: {
                    labels: label2,
                    datasets: [ {
                        label: 'Fill level',
                        data: full_l,
                        backgroundColor: color2
                    }]
                    },
                    options: {
                        title: {
                        text: "Füllstand",
                        display: true
                        }
                    }
            })


        </script>
    </div>

    
{% endblock body %}



