{% load i18n %}

<head>
	<style>
		body{
			background-color: #ebeff5;
		}

		#total-measurements{
			background-color: #3090C7;
		}

		#last-time-water-amount{
			background-color: #56A5EC;
		}

		#watering-parameter{
			background-color: #66CDAA;
		}
	</style>
</head>

<body>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-measurements">
			  	<div class="card-header">
			  		<h5 class="card-title">{% trans "Total Measurements Today" %}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="last-time-water-amount">
			  	<div class="card-header">
			  		<h5 class="card-title">{% trans "Last Time Water Amount" %}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="watering-parameter">
			  	<div class="card-header">
			  		<h5 class="card-title">{% trans "Watering Parameter" %}</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

</body>