{% extends 'base.html' %}


{% block body %}
  <table class="table-striped">
    <thead>
      <tr>
        <th class="align-center" style="flex: 1.5;">Timestamp</th>
        <th class="align-center">Temperature</th>
        <th class="align-center">Air Humidity</th>
        <th class="align-center">Ground Humidity</th>
        <th class="align-center">Brightness</th>
        <th class="align-center">Fill Level</th>
      </tr>
    </thead>
    <tbody>
        {% for d in datas %}
          <tr>
            <td class="align-center" style="flex: 1.5;">{{ d.timestamp }}</td>
            <td class="align-center">{{ d.temperature }}</td>
            <td class="align-center">{{ d.air_humidity }}</td>
            <td class="align-center">{{ d.ground_humidity }}</td>
            <td class="align-center">{{ d.brightness }}</td>
            <td class="align-center">{{ d.fill_level }}</td>
          </tr>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
              {% if datas.has_previous %}
                  <a class="btn btn-table" href="?page=1">&laquo; first</a>
                  <a href="?page={{ datas.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ datas.number }} of {{ datas.paginator.num_pages }}.
              </span>

              {% if datas.has_next %}
                  <a href="?page={{ datas.next_page_number }}">next</a>
                  <a href="?page={{ datas.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
        </div>

    </tbody>
  </table>
{% endblock %}