{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Watering Control" %} - Plant Supply Unit{% endblock title %}

{% block body %}

	<!-- psu selection -->
	<div class="psuselection">
	    <h4>{% trans "Select a Plant Supply Unit" %}</h4>
	    <div>
	      {% for p in psus %}
	        <a class="btn btn-inline-block btn-secondary {% if p.id == sel_psu.id %}selected{% endif %}" href="#">{{ p.pretty_name }}</a>
	      {% endfor %}
	    </div>
  	</div>

    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h3>{% trans "Change watering option" %}</h3>
        {{ form|cut:'<br>' }}     
        <input type="submit" name="" value="{% trans "Save" %}"  class="btn btn-primary">
    </form>

{% endblock body %}