/*
-------------------------------------------------------------------------------------------------

    Stylesheet overwriting the normal color table

-------------------------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------------------------
    Color-Definitions

    background-color -> bcolor
    font-color -> fcolor
-------------------------------------------------------------------------------------------------
*/
:root {
    --body-bcolor: #222;
    --body-fcolor: #fff;
    --body-wrapper-bcolor: #3a3a3a;
    --body-wrapper-fcolor: #fff;
    --header-bcolor: #0065BD;
    --header-fcolor: #fff;
    --footer-bcolor: #0065BD;
    --footer-fcolor: #fff;


    --link-fcolor: #A2AD00;
    --link-fcolor-action: #D1DF00;
    --btn-bcolor: ;
    --btn-fcolor: ;
    --btn-bcolor-action: ;
    --btn-fcolor-action: ;
    --btn-primary-bcolor: #0065BD;
    --btn-primary-fcolor: #fff;
    --btn-primary-bcolor-action: #0073D7;
    --btn-primary-fcolor-action: #fff;
    --btn-secondary-bcolor: ;
    --btn-secondary-fcolor: ;
    --btn-secondary-bcolor-action: ;
    --btn-secondary-fcolor-action: ;
    --btn-warning-bcolor: ;
    --btn-warning-fcolor: ;
    --btn-warning-bcolor-action: ;
    --btn-warning-fcolor-action: ;

    --input-bcolor: #222;
    --input-fcolor: #fff;
    --input-border-color: #000;
    --input-border-color-action: #0073D7;
    --input-shadow-color-focus: #0073D755;
    --input-border-color-invaild: #c00;
    --input-border-color-action-invalid: #f00;
    --input-shadow-color-focus-invalid: #c005;

    --label-fcolor: #fff;
    --helptext-bcolor: #292929;
    --helptext-fcolor: #fff;

    --dropdown-bcolor: #3a3a3a;
    --dropdown-fcolor: #fff;
    --dropdown-bcolor-active: #222;
    --dropdown-fcolor-active: #fff;
    --dropdown-shadow-color: #000;

    --errorlist-bcolor: #f88;
    --errorlist-fcolor: #111;

    --messages-bcolor: #292929;
    --messages-fcolor: #fff;
    --messages-success-fcolor: #0a0;
    --messages-error-fcolor: #b00;
}