/*
-------------------------------------------------------------------------------------------------

    Stylesheet imported in base.html

-------------------------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------------------------
    Color-Definitions

    background-color -> bcolor
    font-color -> fcolor
-------------------------------------------------------------------------------------------------
*/
:root {
    --body-bcolor: #ccc;
    --body-fcolor: #111;
    --body-wrapper-bcolor: #fff;
    --body-wrapper-fcolor: #111;
    --header-bcolor: #0065BD;
    --header-fcolor: #fff;
    --footer-bcolor: #0065BD;
    --footer-fcolor: #fff;


    --link-fcolor: #3CB371;
    --link-fcolor-action: #00e266;
    --btn-bcolor: ;
    --btn-fcolor: ;
    --btn-bcolor-action: ;
    --btn-fcolor-action: ;
    --btn-primary-bcolor: #0065BD;
    --btn-primary-fcolor: #fff;
    --btn-primary-bcolor-action: #0073D7;
    --btn-primary-fcolor-action: #fff;
    --btn-secondary-bcolor: transparent;
    --btn-secondary-fcolor: #3CB371;
    --btn-secondary-bcolor-action: #3CB371;
    --btn-secondary-fcolor-action: #fff;
    --btn-warning-bcolor: ;
    --btn-warning-fcolor: ;
    --btn-warning-bcolor-action: ;
    --btn-warning-fcolor-action: ;

    --input-bcolor: #fff;
    --input-fcolor: #111;
    --input-border-color: #ccc;
    --input-border-color-action: #0073D7;
    --input-shadow-color-focus: #0073D755;
    --input-border-color-invalid: #c00;
    --input-border-color-action-invalid: #f00;
    --input-shadow-color-focus-invalid: #c005;

    --label-fcolor: #111;
    --helptext-bcolor: #ddd;
    --helptext-fcolor: #111;
    

    --dropdown-bcolor: #fff;
    --dropdown-fcolor: #111;
    --dropdown-bcolor-active: #d9d9d9;
    --dropdown-fcolor-active: #111;
    --dropdown-shadow-color: #999;

    --errorlist-bcolor: #f88;
    --errorlist-fcolor: #111;

    --messages-bcolor: #ddd;
    --messages-fcolor: #111;
    --messages-success-bcolor: #87d25c;
    --messages-error-bcolor: #f06b6b;

    --table-header-bcolor: #3CB371;
    --table-even-bcolor: #f3f3f3;
    --table-odd-bcolor: #fff;
    --table-divdor-color: #ddd;

    --nav-main-hover: #3CB371;
}

/*
-------------------------------------------------------------------------------------------------
    
    General elements

-------------------------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------------------------
    basic stuff
-------------------------------------------------------------------------------------------------
*/ 

/* basic classes */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* headlines */

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-size: 1.1rem;
}

/*
-------------------------------------------------------------------------------------------------
    Hyperlinks
-------------------------------------------------------------------------------------------------
*/ 

a, a:visited {
    color: var(--link-fcolor);
    text-decoration: none;
    font-weight: 500;
}

a:hover, a:focus {
    color: var(--link-fcolor-action);
    text-decoration: underline;
}

/* class thicken -> link will get bolder on hover */

a.thicken::after {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    content: attr(title);
    font-weight: 600;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

a.thicken:hover, a.thicken:focus {
    font-weight: 600;
    text-decoration: none;
}

/*
-------------------------------------------------------------------------------------------------
    Buttons
-------------------------------------------------------------------------------------------------
*/ 
/* There are four types of buttons: standard, primary, secondary and warning */
/* All buttons need the standard class */

.btn, .btn:visited {
    display: block;
    box-sizing: border-box;
    width: max-content;

    margin: 1rem 0 1rem 0;
    border: 0;
    padding: .5rem 1rem;

    background-color: var(--btn-bcolor);
    color: var(--btn-fcolor);

    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
}

.btn.btn-inline-block {
    display: inline-block;
    padding: .1rem 1rem .2rem 1rem;
    margin: 0 .25rem;
}
.btn.btn-right {
    float: right;
}

.btn:focus, .btn:hover {
    background-color: var(--btn-bcolor-action);
    color: var(--btn-fcolor-action);

    cursor: pointer;

    text-decoration: none;
}

.btn.btn-primary, .btn.btn-primary:visited {
    background-color: var(--btn-primary-bcolor);
    color: var(--btn-primary-fcolor);
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
    background-color: var(--btn-primary-bcolor-action);
    color: var(--btn-primary-fcolor-action);
}

.btn.btn-secondary, .btn.btn-secondary:visited {
    border-radius: .75rem;

    background-color: var(--btn-secondary-bcolor);
    color: var(--btn-secondary-fcolor);

    font-weight: 600;
}

.btn.btn.btn-secondary.selected, .btn-secondary:focus, .btn.btn-secondary:hover {
    background-color: var(--btn-secondary-bcolor-action);
    color: var(--btn-secondary-fcolor-action);
}

.btn.btn-warning, .btn.btn-warning:visited {
    background-color: var(--btn-warning-bcolor);
    color: var(--btn-warning-fcolor);
}

.btn.btn-warning:focus, .btn.btn-warning:hover {
    background-color: var(--btn-warning-bcolor-action);
    color: var(--btn-warning-fcolor-action);
}

/*
-------------------------------------------------------------------------------------------------
    Forms and co
-------------------------------------------------------------------------------------------------
*/ 

input {
    text-decoration: none;
    font-size: 1rem;

    box-shadow: none;
    text-shadow: none;
    outline: none;

    font-family: inherit;
}

/* text fields */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select {
    display: block;

    width: 100%;
    max-width: 400px;

    margin: .25rem 0 .5rem 0;
    padding: .5rem .75rem;

    border: 1px solid var(--input-border-color);
    border-radius: .2rem;

    background-color: var(--input-bcolor);
    color: var(--input-fcolor);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus,
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="number"]:hover, select:hover {
    border: 1px solid var(--input-border-color-action);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    box-shadow: 0 0 0 3px var(--input-shadow-color-focus);
}

input[type="text"]:invalid, input[type="email"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid {
    border: 1px solid var(--input-border-color-invalid);
}

input[type="text"]:focus:invalid, input[type="email"]:focus:invalid, input[type="password"]:focus:invalid, input[type="number"]:focus:invalid,
input[type="text"]:hover:invalid, input[type="email"]:hover:invalid, input[type="password"]:hover:invalid, input[type="number"]:hover:invalid {
    border: 1px solid var(--input-border-color-action-invalid);
}

input[type="text"]:focus:invalid, input[type="email"]:focus:invalid, input[type="password"]:focus:invalid, input[type="number"]:focus:invalid {
    box-shadow: 0 0 0 3px var(--input-shadow-color-focus-invalid);
}

/* remove spinner crap from number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* checkbox */

input[type="checkbox"] {
    display: inline-block;
    -webkit-appearance: none;

    width: 2.1rem;
    height: 1.4rem;

    margin: .25rem .5rem;
    border: none;
    padding: 0;

    vertical-align: middle;

    background-image: url(../icons/switch_modern_off.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked {
    background-image: url(../icons/switch_modern_on.png);
}

/* special styling of select fields */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: 1rem;
}

select::-ms-expand {
    display: none;
}

select option{
    background-color: var(--input-bcolor);
    color: var(--input-fcolor);
}

/* labels */

label {
    color: var(--label-fcolor);
}

/* styling of helptext */
span.helptext {
    display: table;

    margin: 0 1rem .75rem 1rem;
    border: 0 solid var(--helptext-bcolor);
    border-radius: .2rem;
    padding: .5rem 1rem;

    background-color: var(--helptext-bcolor);
    color: var(--helptext-fcolor);
}

span.helptext ul {
    display: block;

    margin: 0;
    border: 0;
    padding: 0;

    list-style-type: none;
}

/* styling of errorlist */

ul.errorlist {
    display: block;

    margin: 1rem 0;
    border: 0;
    padding: 1rem 1.5rem;

    background-color: var(--errorlist-bcolor);
    color: var(--errorlist-fcolor);
    list-style-type: none;
}

ul.errorlist > li {
    display: block;
    
    margin: 0;
    border: 0;
    padding: .25rem 0;
}

/*
-------------------------------------------------------------------------------------------------
    Styling of Drop-Downs
-------------------------------------------------------------------------------------------------
*/ 

div.drop-down {
    display: none;
    min-width: 150px;

    background-color: var(--dropdown-bcolor);
    box-shadow: 0 5px 15px var(--dropdown-shadow-color);

    color: var(--dropdown-fcolor);
    font-size: 1rem;
    position: relative;
}

div.drop-down.active {
    display: block;
}

div.drop-down .drop-down-element, div.drop-down .drop-down-element:visited {
    display: block;
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    border: 0;
    padding: .5rem 1rem;

    color: var(--dropdown-fcolor);
    text-decoration: none;
    outline: none;
    white-space: nowrap;
}


div.drop-down .drop-down-element:focus, div.drop-down .drop-down-element:hover {
    background-color: var(--dropdown-bcolor-active);
    color: var(--dropdown-fcolor-active);
}

/*
-------------------------------------------------------------------------------------------------
    Tables
-------------------------------------------------------------------------------------------------
*/

/* general stuff */

table{
    margin: 1rem 0 2rem 0;
}

.table-striped {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
}

.table-striped tr {
    display: flex;
}

.table-striped thead tr {
    color: #ffffff;
}

.table-striped th, .table-striped td {
    flex: 1;
    padding: 0.7em 1em;
}

/* striped table */
.table-striped th {
    background-color: var(--table-header-bcolor);
}

.table-striped tr {
    background-color: var(--table-odd-bcolor);
    border-bottom: 1px solid var(--table-divdor-color);
}

.table-striped tr:nth-of-type(even) {
    background-color: var(--table-even-bcolor);
}

.table-striped tbody tr:last-of-type {
    border-bottom: 2px solid var(--table-header-bcolor);
}

/*
-------------------------------------------------------------------------------------------------
    
    Static parts of the website

-------------------------------------------------------------------------------------------------
*/ 

/*
-------------------------------------------------------------------------------------------------
    Body/Header/Footer
-------------------------------------------------------------------------------------------------
*/
body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: auto;

    margin: 0;
    border: 0;
    padding: 0;

    background-color: var(--body-bcolor);
    color: var(--body-fcolor);

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

div#body-wrapper {
    display: block;
    flex: 1;

    max-width: 1600px;
    width: calc(100% - 10rem);
    box-sizing: border-box;

    margin: 0 auto;
    border: 0;
    padding: 2rem 3rem;

    background-color: var(--body-wrapper-bcolor);
    color: var(--body-wrapper-fcolor);

}

@media (max-width: 1000px){
    div#body-wrapper {
        width: calc(100% - 5rem);
    }
}

@media (max-width: 500px){
    div#body-wrapper {
        width: calc(100% - 2.5rem);
        padding: 2rem;
    }
}
@media (max-width: 1000px){
    header#mainheader {
        padding: 16px 20px;
    }
}

/* Header */

header#mainheader {
    padding: 0;
    margin: 0;
    background-color: var(--header-bcolor);
    color: var(--header-fcolor);

    font-size: 1.5rem;

    display: flex;
}


/* Footer */
footer#mainfooter {
    display: flex;
    flex-direction: row;

    padding: 1.5rem 2.5rem;

    background-color: var(--footer-bcolor);
    color: var(--footer-fcolor);
}

footer#mainfooter > div {
    padding: 0rem 1rem;
}

div#right-footer{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

footer#mainfooter a, footer#mainfooter > a:visited {
    color: var(--footer-fcolor);
}

footer#mainfooter a:focus, footer#mainfooter > a:hover {
    color: var(--footer-fcolor);
}

/*
-------------------------------------------------------------------------------------------------
    main navigation
-------------------------------------------------------------------------------------------------
*/

header#mainheader div#nav-main {
    display: flex;
    max-width: calc(100% - 4.5rem - 30px);
    padding: 0 1rem;
    margin: 0 auto 0 0;

    background-color: var(--header-bcolor);
}

div#nav-main .nav-main-element {
    display: block;
    padding: 1.25rem 1rem;
}

div#nav-main a.nav-main-element, div#nav-main a.nav-main-element:visited{
    display: block;

    color: var(--header-fcolor);
    text-decoration: none;
    font-weight: 500;
}

div#nav-main a.nav-main-element:hover, div#nav-main a.nav-main-element:focus{
    color: var(--header-fcolor);
    text-decoration: none;
    background-color: var(--nav-main-hover);
}


/* Styling of logo at the left */
a#nav-main-logo {
    display: block;
    
    width: 5rem;
    height: 100%;

    margin: 0 1rem;
    
    background-image: url("../serveronly/logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Styling of menu drop-downs */

div.nav-drop-down {
    display: block;
    position: relative;
}

div.nav-drop-down .toggle {
    cursor: pointer;
}

div.nav-drop-down .drop-down {
    position: absolute;
    left: 0;
}


/* user menu */
div#nav-user {
    display: block;
    position: relative;

    padding: 0;
    margin: auto 1rem auto 0;
}

div#nav-user-drop-down {
    position: absolute;
    top: 58px;
    right: 0px;
}



/* user menu toggle */
a#nav-user-toggle, a#nav-user-toggle:visited {
    display: block;

    width: 2.5rem;
    height: 2.5rem;

    margin: auto 1rem;

    background-image: url("../icons/user_logged_out.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;

    cursor: pointer;
}

a#nav-user-toggle.logged-in {
    background-image: url("../icons/user_logged_in.png");
}

a#nav-user-toggle:focus, a#nav-user-toggle:hover, a#nav-user-toggle.active {
    opacity: 1;
}

a#nav-user-toggle::after {
    display: inline-block;
    margin-left: 1.65em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid #ccc;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

a#nav-user-toggle.logged-in::after {
    border-top-color: #E37222;
}

/*
-------------------------------------------------------------------------------------------------
    messages implementation
-------------------------------------------------------------------------------------------------
*/

ul.messages {
    display: block;

    margin: 0 0 1rem 0;
    border: 0;
    padding: 0;

    background-color: var(--messages-bcolor);
    color: var(--messages-fcolor);
    list-style-type: none;
}

ul.messages > li {
    display: block;
    
    margin: 0;
    border: 0;
    padding: .5rem 1rem;

    font-weight: 600;
}

ul.messages > li.success {
    background-color: var(--messages-success-bcolor);
}

ul.messages > li.error {
    background-color: var(--messages-error-bcolor);
}


/*
-------------------------------------------------------------------------------------------------
    
    special stuff for special views

-------------------------------------------------------------------------------------------------
*/ 

/*
-------------------------------------------------------------------------------------------------
    table page buttons
-------------------------------------------------------------------------------------------------
*/

.pagination span {
    display: inline-block;
    margin: 0 .5rem;
}

.psuselection {
    margin: 2rem 0;
}

.psuselection h4{
    margin: 0 0 1rem 0;
}

.psuselection div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

/*
-----------------------------------------------------------------------------------------------------------------
    styling charts
------------------------------------------------------------------------------------------------------------
*/

div#filllevel_n_time_range{
    display: flex;
    margin: 0 0 2rem 0;
}

div#time_range{
    flex: 1;
    margin: auto 0 0 0;
}

div#filllevel_n_time_range div#filllevel_chart_wrapper h5{
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

div#filllevel_n_time_range div#filllevel_chart_wrapper {
    width: 175px;
}

/*
-----------------------------------------------------------------------------------------------------------------
    styling of dashboard
------------------------------------------------------------------------------------------------------------
*/

div.dash-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    margin: 1rem 0;
}

/* quick info part */

div.dash-wrapper div#quick-info{
    display: block;
    flex: 1;
    margin: 2rem 1rem;
}

div.dash-wrapper div#quick-info div#measurement-values{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.dash-wrapper div#quick-info div#measurement-values div.measurement-value{
    display: block;
    flex: 1;
    box-sizing: border-box;
    min-width: 140px;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

div.dash-wrapper div#quick-info div#measurement-values div#filllevel {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
}
div.dash-wrapper div#quick-info div#measurement-values div#filllevel canvas {
    max-width: 240px;
    max-height: 240px;
    margin: 0 auto;
}

/* list with measurements */

div.dash-wrapper div#measurements {
    display: block;
    flex: 2;
    margin: 2rem 1rem;
    min-width: 660px;
}

div.dash-wrapper div#measurements table {
    margin: 0 0 1rem 0;
}

div.dash-wrapper div#measurements div.button-box {
    display: flex;
}

div.dash-wrapper div#measurements div.button-box a {
    margin: 0 1rem 0 0;
}

/* list with wateringtasks */

div.dash-wrapper div#wateringtasks {
    display: block;
    flex: 1;
    margin: 2rem 1rem;
    min-width: 370px;
}

div.dash-wrapper div#wateringtasks table {
    margin: 0 0 1rem 0;
}

/* latest image */

div.dash-wrapper div#image {
    display: block;
    flex: 2;
    margin: 2rem 1rem;
    min-width: 450px;
}

div.dash-wrapper div#image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 480px;
    margin: .5rem auto;
}