{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Plant Supply Unit{% endblock title %}</title>
        <!--<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>-->

        <!-- master stylesheet -->
        <link rel="stylesheet" href="{% static 'style/master.css' %}">
        
        {% block head %}{% endblock %}
    </head>
    <body>
        <header id="mainheader">
            {% block header %}{% trans "Welcome to Team Plant Supply Unit" %}{% endblock %}
        </header>
        
        <div id="body-wrapper">
            {% block body %}{% endblock %}
        </div>

        <footer id="mainfooter">
            <div id="left-footer">&copy; 2021 Team Plant Supply Unit - TUM adveisor program</div>
            <div id="right-footer"><a href="/admin" class="thicken">{% trans "administration" %}</a></div>
        </footer>
    </body>
    <script type="text/javascript" charset="utf-8">
        // add to all links the title property in order to prevent repositioning on making the fond bold on hovering
        var As = document.getElementsByTagName("a");
        for(i=0; i < As.length; i++)
            As[i].setAttribute("title", As[i].innerText);
    </script>
</html>
