{% extends 'base.html' %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">time</th>
      <th scope="col">water in tank (in cm)</th>
      <th scope="col">humidity in %</th>
      <th scope="col">Temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>psu1</td>
      <td>17:30 24.3.2021</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>psu1</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endblock %}